body {
  font-family: "Afacad Flux", sans-serif; /* Fix the font-family */
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */

  min-height: 100vh; /* Minimum height for the viewport */
}

header {
  grid-column: 1 / -1; /* Span across all columns */
  grid-row: 1;
  background-color: #215679;
  color: white;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav {
  margin: 10px 0;
}

nav a {
  font-weight: 400;
  font-size: 24px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.main-pic {
  grid-row: 2;
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: #333;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px 65%;
}

main {
  display: contents; /* Allow the main sections to use grid directly */
}

.left-section,
.right-section {
  padding: 30px;
}

.main-section {
  padding-top: 30px;
}

footer {
  grid-column: 1 / -1; /* Span across all columns */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

a:hover {
  text-decoration: underline;
}

.clock-container {
  text-align: center;
}

.time {
  font-size: 40px; /* Clock font size */
  color: #ffffff; /* Clock text color */
  padding: 10px 0px 10px 10px; /* Padding around the clock */
  border-radius: 10px; /* Rounded corners */
  justify-content: center;
}

.date {
  font-size: 20px; /* Smaller font size for date */
  color: #ffffff; /* Lighter color for date */
  justify-content: center;
}
