body {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-row: 1;
  background-color: #02101a;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  width: 80px;
  padding-left: 30px;
  height: auto;
  margin-right: 20px;
}

.intro {
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 100px;
  font-weight: 600;
  color: white;
}

nav {
  margin: 10px;
}

nav a {
  font-weight: 400;
  font-size: 24px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.pfp {
  width: 40vh;
}

.main-pic {
  grid-row: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65vh;
  overflow: hidden;
  background: black;
}

.video-row,
.music-section {
  display: flex;
  gap: 30px;
}

.video-row {
  padding-bottom: 50px;
}

.music {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-iframe {
  max-width: 100px !important;
}

.music-img {
  width: 20vw;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
}

video {
  width: 35vw;
  height: auto;
}

.pic {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0px 65%;
}

.main-section {
  grid-row: 2;
  padding: 10vh 30vh 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.main-section-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10vh 20vh;
}

.contact-img {
  max-height: 50vh;
  width: auto;
  margin-right: 30px;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

.about {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.section {
  padding: 50px 0;
}

.about-text {
  display: flex;
  flex-direction: column !important;
  width: 50%;
}

.main-section h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.main-section p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

footer {
  grid-column: 1 / -1;
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

a:hover {
  text-decoration: underline;
}

.clock-container {
  text-align: center;
}

.time {
  font-size: 40px;
  color: #ffffff;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  justify-content: center;
}

.date {
  font-size: 20px;
  color: #ffffff;
  justify-content: center;
}

h1.form {
  padding: 0 0 10px;
  margin: 0;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  font-family: "Afacad Flux", sans-serif;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-family: "Afacad Flux", sans-serif;
}

input[type="submit"] {
  padding: 10px;
  margin-top: 10px;
  background-color: #3a74d8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Afacad Flux", sans-serif;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: #184593;
}

.form-mail,
.form-text,
.form-subj {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px;
}

.gallery-pic {
  height: 300px;
  width: auto;
}

.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-description {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-description:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 40px;
}

p {
  margin: 0;
}

textarea {
  font-size: 18px;
}

input {
  font-size: 18px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Afacad Flux", sans-serif;
  font-size: 18px;
  color: #7e7e7e;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
}

select::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

@media (max-width: 1200px) {
  .intro {
    font-size: 60px;
    top: 40vh;
    left: 20vh;
  }
  .main-section {
    padding: 5vh 20vh;
  }
}

@media (max-width: 768px) {
  .main-section-contact {
    flex-direction: column;
    align-items: center;
    padding: 5vh 10vh;
  }

  .contact-img {
    width: 80%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-box {
    width: 100%;
    max-width: none;
  }

  .intro {
    font-size: 40px;
    top: 30vh;
    left: 10vh;
  }
  .main-section {
    padding: 5vh 10vh;
  }
  .main-pic {
    height: 50vh;
  }
  .music-img {
    width: 40vw;
  }
  nav a {
    font-size: 20px;
  }
  .main-section h1 {
    font-size: 30px;
  }
  .main-section p {
    font-size: 20px;
  }

  .pfp {
    width: 30vw;
  }
}

@media (max-width: 480px) {
  input[type="text"],
  textarea {
    font-size: 16px;
    padding: 8px;
  }
  input[type="submit"] {
    font-size: 18px;
  }
  .main-section-contact {
    padding: 2vh;
  }
  .contact-img {
    height: 25vh;
    width: auto;
  }
  .intro {
    font-size: 30px;
    top: 25vh;
    left: 5vh;
  }
  .main-section {
    padding: 5vh;
  }
  .music-img {
    width: 60vw;
  }
  nav a {
    font-size: 18px;
  }
  .main-section h1 {
    font-size: 24px;
  }
  .main-section p {
    font-size: 18px;
  }
}
